*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar{
    width: 100%;
    height: 70px;
    background-color: #0f172a;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;

    
}
.logo img{
    height: 45px;
    cursor: pointer;

}
.navbar ul{
    list-style: none;
    display: flex;
    gap: 30px;
}
.navbar ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    transition: color 0.3s ease;
}

.navbar ul li a:hover {
    color: #38bdf8;
}
.hero {
    height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1625315642929-3774ba1d1af4?w=1000&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fGxhbmRpbmclMjBwYWdlfGVufDB8fDB8fHww);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;}
    .hero::before {
        content: "";
        position: absolute;
        inset: 0;
        background: rgba(0,0,0,0.55);
    }
    .hero-content {
        position: relative;
        color: white;
        text-align: center;
    }
    .hero-content h1{
        font-size: 60px;
        margin-bottom: 15px;
    }
    .hero-content p{
        font-size: 18px;
        margin-bottom: 25px;
    }
    .btn {
        padding: 12px 30px;
        background: #38bdf8;
    color: black;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;

    }




@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        height: auto;
        padding: 20px;
    }

    .navbar ul {
        flex-direction: column;
        gap: 15px;
        margin-top: 15px;
    }
}
